/* FONTIS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@400;500;700&family=Forum&family=Inter:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;400;500;700&family=Raleway:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');


/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #fff;
    margin: 1rem;
}

ul,ol{
    list-style: none;
}

img{
    width: 100%;
    height: auto;
}


/* H1/H2/H3/H4 */
h1,h2,h3,h4{
    font-family: "Lato";
}

h2{
    font-size: 1.5em;
}

p{
    font-family: "Inter";
}

/* CONTAINER */
.container{
    padding: 1.5rem;
    /* background-color: ; */
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, .2);
}

/* AUX */
.pad_1{
    padding-top: .75rem;
}


/* ASIDE */

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.avatar img{
    width: 200px;
    border-radius: 30%;
    border: 5px solid rgba(0, 0, 0, .2);
    /* background-color: ; */
}

/* perfil | objetivo | contato | habilidade | idioma */
.perfil, .objetivo, .contato, .habilidade, .idioma, .formacao, .experiencia{
    padding: 1rem 0;
}

.perfil h2,
.objetivo h2,
.contato h2,
.habilidade h2,
.idioma h2,
.TitleH2, .formacao div h3, .experiencia div h3{
    padding-bottom: 1rem;
}

.perfil p, .objetivo p, .formacao div p, .experiencia div p{
    line-height: 1.5rem;
}


.contato ul li{
    padding: .5rem 0;
}

.idioma h4{
    padding-bottom: .5rem;
}

.experiencia div p:nth-child(2), .experiencia div p:nth-child(3){
    padding-bottom: 1rem;
}
.experiencia div p i{
    padding-right: .5rem;
}

/* MAIN */

/* titleHero */
.titleHero{
    display: none;
}

.cursos div h3{
    padding: .5rem 0;
}






/* MEDIA QUERY */

@media (min-width: 768px) {
    .container {
        display: flex;
        gap: 1rem;
    }

    aside{
        border-right: 2px solid rgba(0,0,0,.2);
        flex: 1 0 0;
        padding: 0 .5rem;
    }

    main{
        flex: 1 0 0;
    }

    .titleHero{
        display: block;
    }
}


@media (min-width:1024px){
    .container{
        max-width: 75%;
        margin: 0 auto;
    }
   
    main{
        flex: 2 0 0;
    }
}















/* p100 */
.p100{
    width: 90%;
    background-color: lightslategray;
    margin: .5rem 0;
}
.p100, .pColor{
    height: 16px;
    border-radius: 1rem;
}
.pColor{
    background-color: black;
}