/* FONTIS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@400;500;700&family=Forum&family=Inter:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;400;500;700&family=Raleway:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');


/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: lightcyan;
    margin: 1rem;
}

ul,ol{
    list-style: none;
}

img{
    width: 100%;
    height: auto;
}


/* H1/H2/H3/H4 */
h1,h2,h3,h4{
    font-family: "Lato";
}

p{
    font-family: "Inter";
}

/* CONTAINER */
.container{
    padding: 1rem;
    background-color: lightblue;
}




/* ASIDE */

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.avatar img{
    width: 150px;
    border-radius: 50%;
    border: 1px solid rebeccapurple;
    background-color: lightcoral;
}

/* perfil | objetivo | contato | habilidade | idioma */
.perfil, .objetivo, .contato, .habilidade, .idioma, .formacao, .experiencia{
    padding: 1rem 0;
}

.perfil h3,
.objetivo h3,
.contato h3,
.habilidade h3,
.idioma h3,
.TitleH2, .formacao div h3, .experiencia div h3{
    padding-bottom: 1rem;
}

.perfil p, .objetivo p, .formacao div p, .experiencia div p{
    line-height: 1.5rem;
}


.contato ul li{
    padding: .5rem 0;
}

.idioma h4{
    padding-bottom: .5rem;
}

.experiencia div p:nth-child(2), .experiencia div p:nth-child(3){
    padding-bottom: 1rem;
}

/* MAIN */

/* titleHero */
.titleHero{
    display: none;
}

.cursos div h3{
    padding: .5rem 0;
}























/* p100 */
.p100{
    width: 40%;
    background-color: lightslategray;
    margin: .5rem 0;
}
.p100, .pColor{
    height: 16px;
    border-radius: 1rem;
}
.pColor{
    background-color: black;
}